<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCTy9wJoudQzUh6LODTJLzQRMCIC8oe9pU</string>
	<key>GCM_SENDER_ID</key>
	<string>249878096645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipesApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-recipes-app-d0c02</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-recipes-app-d0c02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249878096645:ios:26151fe7da280a442b256c</string>
</dict>
</plist>